## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp

## PROJECT::GENERAL
coverage
rdoc
pkg

## PROJECT::SPECIFIC
log/*.log
test.db
test/database.yml

## GENERAL
*.gem
.bundle/
.redcar/
.ruby-gemset
.ruby-version
.rvmrc
Gemfile.lock
docsite/
tags
tags.*
